/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* CSS RESET END */
/*//////////////////////////////////////////////*/
/* TYPOGRAPGY */
@font-face {
  font-family: 'Dune';
  src: url('./../assets/fonts/Dune_Rise.otf');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('./../assets/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'RobotoMed';
  src: url('./../assets/fonts/Roboto-Medium.ttf');
}

html {
  font-size: 100%;
} /*16px*/

body {
  background: var(--black-color);
  font-family: 'RobotoLight', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--white-color);
  position: relative;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4 {
  margin: 3rem 0 1.38rem;
  font-family: 'Dune';
  font-weight: 400;
  line-height: 1.3;
}

h5 {
  margin: 2rem 0 1rem;
}

h1 {
  margin-top: 0;
  font-size: 5.653rem;
}

h2 {
  font-size: 3.998rem;
}

h3 {
  font-size: 2.827rem;
}

h4 {
  font-size: 1.999rem;
}

h5 {
  font-family: 'RobotoMed';
  font-size: 1.414rem;
}

small,
.text_small {
  font-size: 0.707rem;
}
/* TYPOGRAPGY END */
/*//////////////////////////////////////////////*/
/* GLOBAL STYLES */
:root {
  --black-color: #070211;
  --beige-color: #ddaa6e;
  --white-color: #fff;
}

a,
a:visited {
  text-decoration: none;
  color: var(--white-color);
}

li {
  list-style: none;
}

.wrapper {
  width: 85%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 3em;
  margin-bottom: 100px;
}

.wrapper:last-of-type {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}
/* GLOBAL STYLES END */
/*//////////////////////////////////////////////*/
/* MAIN STYLES */
header {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  gap: 60px;
  margin-left: 100px;
  font-family: 'Dune';
}

.hero {
  background-image: url('../assets/images/banner-image.png');
  background-size: cover;
  min-height: 100vh;
}

.hero-flex {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.hero-flex a {
  transition: 0.3s ease-in-out;
}

.hero-flex a:hover {
  transform: scale(1.1);
}

.hero-slogan span {
  color: var(--beige-color);
}

.timer {
  font-family: 'Dune';
  text-align: center;
}

.logo img {
  width: 50px;
}

.section-start {
  display: flex;
  position: relative;
  margin-bottom: 120px;
}

.section-start h3 {
  margin-top: 20px !important;
  margin: 0 auto;
}

.section-nr {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
}

.section-nr-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 150px;
}

.orange-line {
  position: relative;
  padding-left: 30px;
}

.orange-line::before {
  content: '';
  width: 25px;
  height: 3px;
  display: block;
  background-color: var(--beige-color);
  position: absolute;
  left: 0;
  top: 50%;
}

.mission-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 400px);
  grid-column-gap: 50px;
}

.emblem-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.emblem-cell img {
  width: 600px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 301px);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 80px;
  grid-row-gap: 100px;
  position: relative;
}

.card-grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crew-card {
  border: 2px solid var(--beige-color);
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.crew-card:hover {
  transform: scale(1.1);
}

.crew-card div h4 {
  font-size: 1.3rem;
  padding: 20px;
  margin: 0.4rem 0 !important;
  padding: 0 !important;
}

.crew-card .orange-line {
  margin: 0.4rem 0 !important;
}

.center-grid {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
  transition: 0.3s ease-in-out;
}

.modal {
  width: 1000px;
  height: 700px;
  background-color: #070211;
  border: 2px solid var(--beige-color);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.close-modal {
  padding: 10px 20px;
  border: 2px solid var(--white-color);
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  border-radius: 0 20px 0 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-weight: 700;
  font-size: 1.3rem;
}

.close-modal:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}

.modal-flex {
  display: flex;
}

.crew-image {
  width: 300px;
  height: auto;
}

.modal-info {
  margin-left: 20px;
}

.crew-about {
  margin-top: 20px;
}

.know-more {
  display: flex;
  margin: 100px 0;
  align-items: center;
}

.know-more img {
  border-radius: 20px;
  height: 400px;
  width: auto;
}

.know-info h4 {
  margin: 0.4rem 0 !important;
}

.know-info:nth-child(1) {
  margin-right: 50px;
}

.know-info:nth-child(2) {
  margin-left: 50px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 1.5em 0px;
  border-top: 1px solid var(--beige-color);
}

footer p {
  margin: 0 !important;
}

footer img {
  width: 160px;
  margin-bottom: 22px;
}
/* MAIN STYLES END*/

@media only screen and (max-width: 428px) {
  header {
    justify-content: center;
    flex-direction: column;
  }

  header nav {
    margin: 30px 0;
  }

  h1 {
    font-size: 3rem;
  }

  .hero {
    height: 900px;
    background-position: 98%;
    background-repeat: no-repeat;
  }

  .wrapper {
    width: 100%;
  }

  .timer h4,
  .timer p {
    font-size: 1.4rem;
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }

  .know-more {
    flex-direction: column;
  }

  .know-more img {
    height: 170px;
  }

  .section-nr,
  .section-nr-right {
    position: static;
    width: 100px;
  }

  .section-start {
    margin-bottom: 0;
  }

  .orange-line {
    margin: 8px 0;
  }

  .section-start h3 {
    font-size: 1.5rem;
    margin: 0;
    text-align: end;
  }

  .mission-grid {
    display: flex;
    flex-direction: column;
  }
}
